annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
audioread==3.0.1
blinker==1.9.0
cattrs==24.1.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
coloredlogs==15.0.1
coremltools==8.2
decorator==5.2.1
fastapi==0.115.11
ffmpeg==1.4
filelock==3.18.0
Flask==3.1.0
flask-cors==5.0.1
flatbuffers==25.2.10
fsspec==2025.3.0
h11==0.14.0
huggingface-hub==0.29.3
humanfriendly==10.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.4.2
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.44.0
MarkupSafe==3.0.2
mpmath==1.3.0
msgpack==1.1.0
networkx==3.4.2
numba==0.61.0
numpy==2.1.3
onnx==1.17.0
onnxruntime==1.21.0
packaging==24.2
pip==25.0.1
platformdirs==4.3.7
pooch==1.8.2
protobuf==6.30.1
pyaml==25.1.0
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
python-multipart==0.0.20
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.5.3
scikit-learn==1.5.1
scipy==1.15.2
setuptools==78.1.0
sniffio==1.3.1
soundfile==0.13.1
soxr==0.5.0.post1
starlette==0.46.1
sympy==1.13.3
threadpoolctl==3.6.0
tokenizers==0.21.1
torch==2.2.2
torchaudio==2.2.2
tqdm==4.67.1
transformers==4.50.1
typing_extensions==4.12.2
urllib3==2.3.0
uvicorn==0.34.0
Werkzeug==3.1.3

# fastapi
# uvicorn

# AI 추론용
# onnxruntime

# 수치 계산 및 배열 처리
# numpy

# 음성 파일(m4a) 저장용
# pydub

# pydub이 ffmpeg를 이용하므로 ffmpeg는 시스템에 설치되어 있어야 함
# scipy  # (옵션) waveform 저장 시 유용

# WSGI 서버 (선택)
# python-multipart  # FastAPI에서 File/Form 처리용
